@import '../icon/icon.css';

.social {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    display: block;
    flex-shrink: 0;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px currentColor;
    color: inherit;
    text-decoration: none;
    transition: 200ms;

    &:hover,
    &:focus {
      outline: 0;
      background-color: #ffffff;
      box-shadow: inset 0 0 0 1px #ffffff;
    }
  }
}
