extends ./blocks/main/main.pug
include ./blocks/parts/portfolio/portfolio.pug
include ./blocks/parts/about/about.pug

block variables
  -
    const bodyClasses = 'singolo';
    const pageTitle = 'Singolo 2';

block head
  link(href='./singolo2.css', rel='stylesheet')

block body
  +portfolio
  +about
